<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>问与答</key>
			<string>qna</string>
		</dict>
		<dict>
			<key>分享发现</key>
			<string>share</string>
		</dict>
		<dict>
			<key>分享创造</key>
			<string>create</string>
		</dict>
	<!--
		<dict>
			<key>分享邀请码</key>
			<string>in</string>
		</dict>
		<dict>
			<key>自言自语</key>
			<string>autistic</string>
		</dict>
	-->
		<dict>
			<key>奇思妙想</key>
			<string>ideas</string>
		</dict>
		<dict>
			<key>随想</key>
			<string>random</string>
		</dict>
		<dict>
			<key>设计</key>
			<string>design</string>
		</dict>
	<!--
		<dict>
			<key>Blog</key>
			<string>blog</string>
		</dict>
	-->
		<dict>
			<key>Paper</key>
			<string>paper</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>V2EX</key>
			<string>v2ex</string>
		</dict>
		<dict>
			<key>Project Babel</key>
			<string>babel</string>
		</dict>
		<dict>
			<key>DNS</key>
			<string>dns</string>
		</dict>
		<dict>
			<key>Google App Engine</key>
			<string>gae</string>
		</dict>
		<dict>
			<key>反馈</key>
			<string>feedback</string>
		</dict>
		<dict>
			<key>使用指南</key>
			<string>guide</string>
		</dict>
		<dict>
			<key>OLIVIDA</key>
			<string>olivida</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>iDev</key>
			<string>idev</string>
		</dict>
		<dict>
			<key>iCode</key>
			<string>icode</string>
		</dict>
		<dict>
			<key>iMarketing</key>
			<string>imarketing</string>
		</dict>
		<dict>
			<key>iAd</key>
			<string>iad</string>
		</dict>
		<dict>
			<key>iTransfer</key>
			<string>itransfer</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>程序员</key>
			<string>programmer</string>
		</dict>
		<dict>
			<key>Python</key>
			<string>python</string>
		</dict>
		<dict>
			<key>Linux</key>
			<string>linux</string>
		</dict>
		<dict>
			<key>Android</key>
			<string>android</string>
		</dict>
		<dict>
			<key>PHP</key>
			<string>php</string>
		</dict>
		<dict>
			<key>云计算</key>
			<string>cloud</string>
		</dict>
		<dict>
			<key>宽带症候群</key>
			<string>bb</string>
		</dict>
	<!--
		<dict>
			<key>外包</key>
			<string>outsourcing</string>
		</dict>
	-->
		<dict>
			<key>硬件</key>
			<string>hardware</string>
		</dict>
		<dict>
			<key>服务器</key>
			<string>server</string>
		</dict>
		<dict>
			<key>Bitcoin</key>
			<string>bitcoin</string>
		</dict>
	<!--
		<dict>
			<key>Linode</key>
			<string>linode</string>
		</dict>
	-->
		<dict>
			<key>MySQL</key>
			<string>mysql</string>
		</dict>
		<dict>
			<key>设计师</key>
			<string>designer</string>
		</dict>
		<dict>
			<key>Java</key>
			<string>java</string>
		</dict>
		<dict>
			<key>Kindle</key>
			<string>kindle</string>
		</dict>
		<dict>
			<key>编程</key>
			<string>programming</string>
		</dict>
		<dict>
			<key>Markdown</key>
			<string>markdown</string>
		</dict>
		<dict>
			<key>汽车</key>
			<string>car</string>
		</dict>
		<dict>
			<key>Tornado</key>
			<string>tornado</string>
		</dict>
		<dict>
			<key>Ruby on Rails</key>
			<string>ror</string>
		</dict>
		<dict>
			<key>字体排印</key>
			<string>typography</string>
		</dict>
		<dict>
			<key>MongoDB</key>
			<string>mongodb</string>
		</dict>
		<dict>
			<key>Redis</key>
			<string>redis</string>
		</dict>
		<dict>
			<key>Ruby</key>
			<string>ruby</string>
		</dict>
		<dict>
			<key>商业模式</key>
			<string>business</string>
		</dict>
		<dict>
			<key>Photoshop</key>
			<string>photoshop</string>
		</dict>
		<dict>
			<key>LEGO</key>
			<string>lego</string>
		</dict>
		<dict>
			<key>数学</key>
			<string>math</string>
		</dict>
		<dict>
			<key>SONY</key>
			<string>sony</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>游戏</key>
			<string>games</string>
		</dict>
		<dict>
			<key>iGame</key>
			<string>igame</string>
		</dict>
		<dict>
			<key>Steam</key>
			<string>steam</string>
		</dict>
		<dict>
			<key>英雄联盟</key>
			<string>lol</string>
		</dict>
		<dict>
			<key>Battlefield 3</key>
			<string>bf3</string>
		</dict>
		<dict>
			<key>PlayStation 4</key>
			<string>ps4</string>
		</dict>
		<dict>
			<key>StarCraft 2</key>
			<string>sc2</string>
		</dict>
		<dict>
			<key>PlayStation 3</key>
			<string>ps3</string>
		</dict>
		<dict>
			<key>World of Warcraft</key>
			<string>wow</string>
		</dict>
		<dict>
			<key>EVE</key>
			<string>eve</string>
		</dict>
		<dict>
			<key>Xbox 360</key>
			<string>xbox360</string>
		</dict>
		<dict>
			<key>Battlefield 4</key>
			<string>bf4</string>
		</dict>
		<dict>
			<key>Gran Turismo</key>
			<string>gt</string>
		</dict>
		<dict>
			<key>Wii</key>
			<string>wii</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>Mac OS X</key>
			<string>macosx</string>
		</dict>
		<dict>
			<key>iPhone</key>
			<string>iphone</string>
		</dict>
		<dict>
			<key>MacBook Pro</key>
			<string>mbp</string>
		</dict>
		<dict>
			<key>iPad</key>
			<string>ipad</string>
		</dict>
		<dict>
			<key>MacBook Air</key>
			<string>mba</string>
		</dict>
		<dict>
			<key>配件</key>
			<string>accessory</string>
		</dict>
		<dict>
			<key>MacBook</key>
			<string>macbook</string>
		</dict>
		<dict>
			<key>iMac</key>
			<string>imac</string>
		</dict>
		<dict>
			<key>Mac mini</key>
			<string>macmini</string>
		</dict>
		<dict>
			<key>iPod</key>
			<string>ipod</string>
		</dict>
		<dict>
			<key>Mac Pro</key>
			<string>macpro</string>
		</dict>
		<dict>
			<key>MobileMe</key>
			<string>mobileme</string>
		</dict>
		<dict>
			<key>iWork</key>
			<string>iwork</string>
		</dict>
		<dict>
			<key>iLife</key>
			<string>ilife</string>
		</dict>
		<dict>
			<key>GarageBand</key>
			<string>garageband</string>
		</dict>
	</array>
	<array>
	<!--
		<dict>
			<key>二手交易</key>
			<string>all4all</string>
		</dict>
	-->
		<dict>
			<key>酷工作</key>
			<string>jobs</string>
		</dict>
		<dict>
			<key>天黑以后</key>
			<string>afterdark</string>
		</dict>
	<!--
		<dict>
			<key>免费赠送</key>
			<string>free</string>
		</dict>
	-->
		<dict>
			<key>音乐</key>
			<string>music</string>
		</dict>
		<dict>
			<key>电影</key>
			<string>movie</string>
		</dict>
	<!--
		<dict>
			<key>物物交换</key>
			<string>exchange</string>
		</dict>
		<dict>
			<key>信用卡</key>
			<string>creditcard</string>
		</dict>
	-->
		<dict>
			<key>剧集</key>
			<string>tv</string>
		</dict>
		<dict>
			<key>美酒与美食</key>
			<string>taste</string>
		</dict>
		<dict>
			<key>投资</key>
			<string>invest</string>
		</dict>
		<dict>
			<key>阅读</key>
			<string>reading</string>
		</dict>
		<dict>
			<key>摄影</key>
			<string>photograph</string>
		</dict>
	<!--
		<dict>
			<key>团购</key>
			<string>tuan</string>
		</dict>
	-->
		<dict>
			<key>绿茵场</key>
			<string>soccer</string>
		</dict>
		<dict>
			<key>旅行</key>
			<string>travel</string>
		</dict>
		<dict>
			<key>Baby</key>
			<string>baby</string>
		</dict>
	<!--
		<dict>
			<key>乐活</key>
			<string>lohas</string>
		</dict>
	-->
		<dict>
			<key>咖啡</key>
			<string>coffee</string>
		</dict>
		<dict>
			<key>宠物</key>
			<string>pet</string>
		</dict>
		<dict>
			<key>骑行</key>
			<string>bike</string>
		</dict>
	<!--
		<dict>
			<key>日记</key>
			<string>diary</string>
		</dict>
	-->
		<dict>
			<key>非诚勿扰</key>
			<string>love</string>
		</dict>
		<dict>
			<key>植物</key>
			<string>plant</string>
		</dict>
		<dict>
			<key>蘑菇</key>
			<string>mushroom</string>
		</dict>
		<dict>
			<key>行程控</key>
			<string>mileage</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>Google</key>
			<string>google</string>
		</dict>
		<dict>
			<key>Twitter</key>
			<string>twitter</string>
		</dict>
		<dict>
			<key>Facebook</key>
			<string>facebook</string>
		</dict>
		<dict>
			<key>Wikipedia</key>
			<string>wikipedia</string>
		</dict>
		<dict>
			<key>Coding</key>
			<string>coding</string>
		</dict>
		<dict>
			<key>Path</key>
			<string>path</string>
		</dict>
		<dict>
			<key>reddit</key>
			<string>reddit</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>北京</key>
			<string>beijing</string>
		</dict>
		<dict>
			<key>上海</key>
			<string>shanghai</string>
		</dict>
		<dict>
			<key>深圳</key>
			<string>shenzhen</string>
		</dict>
		<dict>
			<key>杭州</key>
			<string>hangzhou</string>
		</dict>
		<dict>
			<key>广州</key>
			<string>guangzhou</string>
		</dict>
		<dict>
			<key>成都</key>
			<string>chengdu</string>
		</dict>
		<dict>
			<key>昆明</key>
			<string>kunming</string>
		</dict>
		<dict>
			<key>武汉</key>
			<string>wuhan</string>
		</dict>
		<dict>
			<key>天津</key>
			<string>tianjin</string>
		</dict>
		<dict>
			<key>New York</key>
			<string>nyc</string>
		</dict>
		<dict>
			<key>San Francisco</key>
			<string>sanfrancisco</string>
		</dict>
		<dict>
			<key>Los Angeles</key>
			<string>la</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>UNIQLO</key>
			<string>uniqlo</string>
		</dict>
		<dict>
			<key>Lamy</key>
			<string>lamy</string>
		</dict>
		<dict>
			<key>宜家</key>
			<string>ikea</string>
		</dict>
		<dict>
			<key>无印良品</key>
			<string>muji</string>
		</dict>
		<dict>
			<key>Moleskine</key>
			<string>moleskine</string>
		</dict>
		<dict>
			<key>Gap</key>
			<string>gap</string>
		</dict>
		<dict>
			<key>Nike</key>
			<string>nike</string>
		</dict>
		<dict>
			<key>Adidas</key>
			<string>adidas</string>
		</dict>
		<dict>
			<key>G-Star</key>
			<string>gstar</string>
		</dict>
	</array>
</array>
</plist>
